[all:vars]
# SSH user, this user should allow ssh based auth without requiring a
# password. If using ssh key based auth, then the key should be managed by an
# ssh agent.
ansible_user=root

# If ansible_user is not root, ansible_become must be set to true and the
# user must be configured for passwordless sudo
#ansible_become=True

# WireGuard new private NIC server IP
#address=192.168.111.1

# VPN network subnet
#vpn_network=192.168.111

# Existing baremetal private NIC CIDR
#allowed_ips=192.168.222.0/24

# Public IP of new client endpoint (keep port consistent)
#endpoint=10.1.184.197:51820

###############################################################################
# Required configuration variables                                            #
###############################################################################

# For running RHEL wireguard installation
[server]
#mycluster-master-[1:3].example.com

[new_client]
#mycluster-worker-[4:6].example.com

[new_client:vars]
#rhsm_user=
#rhsm_password=
