[all:vars]
# SSH user, this user should allow ssh based auth without requiring a
# password. If using ssh key based auth, then the key should be managed by an
# ssh agent.
ansible_user=root

# If ansible_user is not root, ansible_become must be set to true and the
# user must be configured for passwordless sudo
#ansible_become=True

###############################################################################
# Required configuration variables                                            #
###############################################################################

# For running RHEL wireguard installation
[new_wg]
mycluster-worker-[4:6].example.com
